/- form_for :page, @page, :url => admin_page_path(@page), :html => {:method => :put, :multipart => true, :id => 'edit_page', 'data-onsubmit_status'=>"Saving Changes&#8230;"} do |fields|
/  = render :partial => "fields", :object => fields
/ ###################################################################
/.set
/  - render_region :layout do |layout|
/    - layout.edit_layout do
/      %p
/        = label :layout_id, t('layout')
/        = select @page, :layout_id, [[t('select.inherit'), '']] + Layout.find(:all).map { |s| [s.name, s.id] }

/    - layout.edit_type do
/      %p
/        = label :class_name, t('page_type')
/        = select @page, :class_name, [[t('select.inherit'), '']] + Layout.find(:all).map { |s| [s.name, s.id] }

/    - layout.edit_status do
/      %p
/        = label :status_id, t('status')
/        = select @page, :status_id, status_to_display

/    - layout.edit_published_at do
/      %p#published_at{:class => (@page.published? ? nil : 'hidden')}
/        = label :published_at, t('published_on')
/        = text_field @page, :published_at, :class => "date", :value => (@page.published_at? ? I18n.localize(@page.published_at.to_date, :format => :long) : nil)
/    = render_region :layout_row
/ ###################################################################
/- render_region :locals => {:f => fields} do |layout|
/    - layout.edit_layout do
/      %p
/        = fields.label :layout_id, t('layout')
/        = fields.select :layout_id, [[t('select.inherit') , '']] + Layout.find(:all).map { |s| [s.name, s.id] }
/    - layout.edit_type do
/      %p
/        = fields.label :class_name, t('page_type')
/        = fields.select :class_name, [[t('select.normal'), '']] + Page.descendants.map { |p| [p.display_name, p.name] }.sort_by { |p| p.first }
/    - layout.edit_status do
/      %p
/        = fields.label :status_id, t('status')
/        = fields.select :status_id, status_to_display
/    - layout.edit_published_at do
/      %p#published_at{:class => (@page.published? ? nil : 'hidden')}
/        = fields.label :published_at, t('published_on')
/        = fields.text_field :published_at, :class=> "date", :value => (@page.published_at? ? I18n.localize(@page.published_at.to_date, :format =>:long) : nil)
/    = render_region :layout_row, :locals => {:f => fields}